<div class="container">
  <h2>ログインアプリ</h2>

  <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
    <!-- ユーザーがログインしていた時は、select/topへリダイレクト-->　

    <!-- ログアウト処理
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete %> <!-- ログアウトをする -->
    -->

    <% else %>
    <!-- ユーザーがログインしていなかった時の処理 -->
    <p> ※現在ログインしていません </p>
    <%= link_to "ログイン", new_user_session_path, class: 'post' ,:class => "btn btn-default" %> <!-- ログイン画面に移行する -->
    <%= link_to "新規登録", new_user_registration_path, class: 'post',:class => "btn btn-primary" %> <!-- 新規登録画面に移行する -->
  <% end %>
</div>