
<div class="container">
    <h1 class="container-title">お気に入りクラブの登録</h1>
    <div class="description">
        <p>お気に入りのクラブを登録してください。</p>
        <p>※複数選択可能</p>
    </div>
    <div class="team-list">
        <% @teams.each do |team| %>
            <div class="col-md-3">
                <div class="each-team btn">
                    <div class="each-team-logo">
                    <%= image_tag team.team_logo_url, class: 'each-team-logo-img' %>
                    </div>
                    <%= team.team_name %>
                </div>
            </div>
        <% end %>
    </div>
</div>

    
<div class="form">
    <%= button_to "登録する>>",{controller: "logs", action: "top" }, {method: :get, class: "form-btn"} %>
</div>

