table {
    border-collapse: collapse;
    border-spacing: 0;
}

.match-list-wrap {
    margin-bottom: 20px;
}
.game-date {
    position: relative;
}

.align-l {
    text-align: left;
}

.border-l-red {
    border-left: 5px solid #e60012;
    font-size: 14px;
    font-weight: bold;
    line-height: 100%;
    padding: 5px 10px;
}

.leag-title {
    display: table;
    width: 100%;
    padding: 0;
    line-height: 1;
    border-top: none;
    height: 40px;
}

.leag-title h5 {
    font-weight: bold;
    display: table-cell;
    padding-left: 10px;
    line-height: 1.3;
    padding: 5px 0 5px 10px;
    vertical-align: middle;
}

.match-table {
    width: 100%;
}

.match-table thead{
    display:none;
}

.game-table {
    padding-left: 30px;
}


.game-table td.point {
    width: 2%;
    font-size: 15px;
    font-weight: bold;
    color: #222;
    letter-spacing: -0.05em;
}

.game-table td.vs {
    position: relative;
    width: 10%;
    text-align: center;
}

.game-table td.club-name.away-side {
    padding-right: 30px;
}
.game-table td.club-name.home-side {
    padding-left: 30px;
}

.game-table td.club-name {
    width: 38%;
    text-align: center;
    font-weight: bold;
    position: relative;
    line-height: 1.3;
    height: 100%;
    font-size: 12px;
}

.stadium {
    font-weight: bold;
}

.position-relative {
    position: relative;
}

.favo-list-area {
    position: absolute;
    top: 0px;
    right: 0px;
}

.favo-list {
    list-style: none;
}

.favo-logo-list {
    display: inline;
}

.favo-logo {
    text-align: center;
    height:60px;
    width:60px;
}

.form{
    margin: 0 atuo;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    
    .form-btn{
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;

        &:hover{
            background: #67c5ff;
            color: white;
        }
    }
}
