// Place all the styles related to the select controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
    margin: 0 atuo;
    text-align: center;
}

.user-new-form{
    display: grid;
    grid-template-columns: 40% 30%;
    gap:5px;
    font-size:20px;
    margin-top: 30px;
    margin-bottom: 30px;

    label{
        grid-column: 1 / 2;
        text-align: right;
    }

    input{
        grid-column: 2 / 3;
    }

    input[type="date"]::-webkit-inner-spin-button{
        -webkit-appearance: none;
      }
    input[type="date"]::-webkit-clear-button{
        -webkit-appearance: none;
      }

    .form-sex{
        display:flex;
        display: -webkit-flex;

        input{
            width: 30px;
            margin: 0px 5px 0px 5px;
        }
    }       


}

.favorite-teams-description{
    font-size:10px;
}



.each-team{
    margin:20px;

    &:hover{
        background: #fffafa;
    }
}

.each-team-logo{
    margin: auto;
    text-align: center;
}

.each-team-logo-img{
    text-align: center;
    height:100px;
    width:100px;
}


.form{
    margin: 0 atuo;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 100px;
    
    .form-btn{
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;

        &:hover{
            background: #67c5ff;
            color: white;
        }
    }
}

.submit-btn{
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    border: solid 2px #67c5ff;
    border-radius: 3px;
    transition: .4s;
    margin-top: 10px;
    margin-bottom: 100px;

    &:hover{
        background: #67c5ff;
        color: white;
    }
}