// Place all the styles related to the select controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container{
    margin: 0 atuo;
    text-align: center;
}

.team-list{
    
}

.description{
    font-size:10px;
}
